
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  font-family: 'Montserrat', sans-serif;
}

.font-inter-tight {
  font-family: 'Inter Tight', sans-serif;
}
